body{
    background: rgb(0,212,255);
    background: linear-gradient(90deg, rgba(0,212,255,1) 0%, rgba(154,173,255,1) 46%, rgba(144,126,255,1) 80%, rgba(46,65,237,1) 100%);
}

h1{
    text-align: center;
    color:red;
    font-size: 70px;
    /* border: 1px solid red; */
}

img{
    width: 400px;
    display: flex;
    margin: auto;
    border: 2px solid palegreen;
    box-shadow: 5px 5px 4px 4px rgba(0,0,0,0.32);
    border-radius: 45px 0px 0px 0px;
}

h2{
    text-decoration: underline;
    color: royalblue;
}

p{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

h4{
    margin: 25px;
}

.lista{
    margin: 25px;
}