body{
    background-color: #D4D4D4;
}

h1{
    text-align: center;
    color:red;
    font-size: 70px;
    /* border: 1px solid red; */
}

img{
    width: 400px;
    display: flex;
    margin: auto;
    border: 2px solid palegreen;
}

h2{
    text-decoration: underline;
    color: royalblue;
}

p{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

